@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{


--hue: 174;
--sat: 63%;
--lig: 62%;

--first-color: hsl(var(--hue), var(--sat), var(--lig));
--first-color-alt: hsl(var(--hue), var(--sat), 58%); /*lig -4% */
--title-color: hsl(var(--hue), 12%, 15%);
--text-color: hsl(var(--hue), 12%, 45%);
--text-color-light: hsl(var(--hue), 8%, 75%);
--text-color-lighten: hsl(var(--hue), 8%, 92%);
--body-color: hsl(var(--hue), 100%, 99%);
--container-color: #fff;
}

body{
    font-family: 'inter',sans-serif;
    background-color: #f0eeee;

}

.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
}

.slider_background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(50%)
}


.slider_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    color: #fff;
    font-size: 5rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 30px;
}

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider_content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

/* ______________________________________________________________________________________ */
.profile__social{
    display: flex;
    justify-content: center;
    column-gap: .75rem;
  }
  
.profile__social-link{
    font-size: 2rem;
    color: #fff;
    transition: .3s;
    text-decoration: none;
}

.profile__social-link:hover{
    color: var(--first-color);
}

.profile__buttons,
.profile__button-small{
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons{
    margin-top: 30px;
    column-gap: 1rem;
}

.profile__button-small{
  column-gap: .25rem;
}
/*=============== BUTTONS ===============*/
.download_btn{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: hsl(174, 63%, 62%);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.download_btn:hover{
    background-color: hsla(174, 63%, 62%, 0.753);
}



.button__small{
  padding: .75rem;
  box-shadow: none;
}

.button__gray{
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button__gray:hover{
  background-color: var(--text-color-light);
}

/* __________________________________________________________________________________________ */
.section{
    padding: 100px 0;
}

.boxed{
    max-width: 1280px;
    margin-inline: auto;
}

.flex{
    display: flex;
}

.gap20{
    gap: 20px;
}

.w40{
    width: 40%;
}

.w60{
    width: 60%;
}

.w25{
    width: 25%;
}

.w47{
    width: 47%;
}

.w32{
    width: 47%;
}


.dark{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/slider.jpg');
    background-size: cover;
    background-position-y:50% ;
    color: #fff;
}

.text__center{
    text-align: center;
}


.skill{
    background: #fffdfd;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill img{
    width: auto;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;

}

.skill h3{
    color: black;
    margin-top: 10px;
}

.space_between{
    justify-content: space-between;
}

.realisations{
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
}

.realisations h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-align: center; /* Centre le texte dans son conteneur */
    max-width: 90%; /* Limite la largeur maximale à 90% du conteneur parent */
    white-space: normal; /* Permet le retour à la ligne */
    word-wrap: break-word; /* Coupe les mots trop longs */
}

.realisations i {
    position: absolute;
    color: white;
    font-size: 30px;
    background-color: var(--first-color);
    padding: 10px;
    border-radius: 15px;

}

.realisations i:hover {
  
    font-size: 33px;

} 

.num1{
    top: 75%;
    left: 10%;
}

.num2{
    top: 75%;
    left: 20%;
}


/* .realisations a{
    display: block;
    width: 100%;
    height: 100%;
} */

#realisations{
 
}


.realisations img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    filter:brightness(50%);
    transition: .4s ease;
    border-radius: 10%;
}

.realisations:hover img{
    filter: brightness(70%);
}

.wrap{
    flex-wrap: wrap;
}

.icon{
    display: block;
    font-size: 1.5rem !important;
}

.contacts_label{
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 1.5rem;
}

.email_value{
    display: block;
    font-size: 1rem;
}

.contact{
    border: 2px dashed;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0,0,0,0.8);
}

.header_logo{
    display: block;
}

.header_logo img{
    width: 60px;
}

.align_center{
    align-items: center;
}

.header_menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.header_menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.header_menu li a:hover{
    background-color: rgb(177, 173, 173);
}

.header_menu li:last-child a{
    background-color: #f06423;
}

.header_menu li:last-child a:hover{
    background-color: #ff5100;
}

.header_menu_mobile{
    display: none;
}


.header_menu_mobile_exite{
    display: none;
}

/* Conteneur de la grille 
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 20px; 
    justify-content: center;
}
*/


/* Buttons */
.buttons {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; /* Permet d'aller à la ligne si nécessaire */
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 10px; /* Espace entre les boutons */
}

.filter-btn {
    padding: 10px 20px;
    background-color: var(--first-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Ajout d'une transition pour un effet d'hover fluide */
}

.filter-btn:hover {
    background-color: var(--first-color-dark);
}


.filter-btn.active {
    color:black;
    background-color:white;
  }

/* Grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

/* Hidden skills */
.skill {
    display: none; /* Par défaut, toutes les compétences sont cachées */
}

/* Show skills when active */
.skill.show {
    display: block;
}


/* ----------------------------------------------------- */



.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    aspect-ratio: 1/1;
  }

  .card-video {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .card-content {
    padding: 16px;
  }
  
  .project-title {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #333;
  }
  
  .project-description {
    font-size: 1em;
    color: #555;
    margin: 0.5em 0;
  }
  
  .project-languages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1em 0;
  }
  
  .language-badge {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .language-badge:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .card-links {
    margin-top: 1em;
  }
  
  .card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .card-link:hover {
    color: #0056b3;
  }
  


/* ------------------------------------------------------------ */

@media(max-width:810px){
    header{
        height: 55px;
    }
    .header_logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 991;
    }

    .header_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        display: none;
    }

   

    .header_menu li:last-child a{
        margin-top: 10px;        
    }

    .slider_content{
        width: 90%;
    }

    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.7rem;
        margin-bottom: 20px;
    }

    p{
        font-size: 1rem;
        text-wrap: balance;
    }

    .mCenter{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .slider_content p{
        margin: 10px;
        font-size: 1.5rem;
        text-wrap: balance;
    }

    .slider{
        height: 60vh;
    }

    .toColumn{
        flex-direction: column;
    }

    .wm100{
        width: 100%;
    }

    .section{
        padding: 50px 0;
    }

    .boxed{
        max-width: 90%;
    }

    .wm47{
        width: 47%;
    }

    .mGap20{
        gap: 20px;
    }

    .header_menu_mobile{
        display: block;
        border: none;
        background-color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }

    .active{
        display: flex;
    }

    
    .active_closebtn{
        display: block;
    }

    .header_menu_mobile_exite{
        display: none;
        border: none;
        background-color: #fff;
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }

        
    .skill{
       justify-content: center;
       text-align: center;
       padding-left: 10px;
       padding-left: 10px;
    }

    .skill img{
        width:90%;
        height: 90%;
        aspect-ratio: 1/1;
        object-fit: contain;

    }

    .skill h3{
        color: black;
        margin: 5px;
        font-size: 10px;
    } 

    .realisations h3{
        font-size: 15px;
        text-overflow: ellipsis;
    }


    .num1{
        top: 72%;
        left: 7%;
    }
    
    .num2{
        top: 72%;
        left: 23%;
    }


    .filter-btn {
        font-size: 14px; /* Réduit la taille du texte */
        padding: 8px 15px; /* Réduit le padding */
    }



}